<h1>{{title}}</h1>
<div id="selectors">
    <app-community-picker [communities]="communitiesList" (selectedCommunityEvent)="filterProvinces($event)">
    </app-community-picker>
    <app-province-picker [provinces]="provincesList" (selectedProvinceEvent)="selectProvince($event)"></app-province-picker>
</div>


<div id="information" *ngIf="showInfo">
    <p>Comunidad: &nbsp; {{selectedCommunity}} &nbsp; {{selectedProvinceObject.cod_CCAA}}</p>
    <p>Provincia: &nbsp; {{selectedProvince}} ({{selectedProvinceObject.name}})&nbsp; {{selectedProvinceObject.cod}}</p>
    <p>Código de Provincia (Ministerio de Interior): &nbsp;  {{getCodesCMI()}} &nbsp;</p>
    <p>Código Postal &nbsp; {{getCodesCP()}}  &nbsp;</p>
</div>



<button (click)="showInfo=true">Get propiedades del Custom Element</button>